header{
	background-color: #FFED74;
	border:1px black solid;
	padding:20px;
	width: ;
}


img{
	display:block;
	margin: 0 auto;
}
nav{
	background-color: #E8C66A;
}

article{
	background-color:#E89C6C;
}

footer{
	background-colour:#FF957E;
}

#.one{
	background-color: #FFE2B8;
}

div{
	background-color: #FFE2B8
}
section{
	background-color: #FFE2B8
}


.hero{
	background: url('../images/leopard_image4.jpg');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}