@import url(https://fonts.googleapis.com/css?family=Share);
body{
	text-align: center;
	background: #fff;
	color: #000;
	font-family: "GT Sectra Fine",Georgia,"Times New Roman",Times,serif;
}
#slogan{
	font-style: italic;
}
h1{
	font-size:28px;
}
h3{
	font-size:24px;
	font-family: 'Share', cursive;	
}
p{
	font-size:20px;
}